body {
    color: beige;
    background-color: beige;
}

.button-operator,
.button-operand,
.button-equals,
.button-back,
.button-clear {
    border-radius: 0.7rem;
    text-align: center;
    cursor: pointer;
    background: #e0e0e0;
    border: 5px rgb(40, 40, 40) outset;
}


.button-operator:active,
.button-operand:active,
.button-equals:active,
.button-back:active,
.button-clear:active {
    color: white;
    transform: translateY(0.15rem);
}

.button-operand {
    background-color: rgb(40, 40, 40);
}

.button-operator {
    background-color: rgb(80, 80, 80);
}

.button-equals,
.button-back,
.button-clear {
    background-color: rgb(20, 20, 20);
}

.display {
    color: white;
    text-align: right;
    background-color: rgb(40, 40, 40);
    border-radius: 0.7rem;
    box-shadow: inset 2px 2px 5px rgb(0, 0, 0), inset -4px -4px 10px rgb(20, 20, 20);
    border: 1px solid rgb(0, 0, 0);
}

#cal-body {
    border: 2px solid rgb(30, 30, 30);
    border-radius: 1.5rem;
    background: linear-gradient(145deg, rgb(50, 50, 55), rgb(25, 25, 30) );
    box-shadow:
    4px 4px 10px #1c1e22,
    -4px -4px 10px #4a4c55,
    inset 2px 2px 6px rgba(255, 255, 255, 0.1),
    inset -2px -2px 6px rgba(0, 0, 0, 0.4);
}

#heading {
    text-align: left;
}