body {
    color: beige;
    background-color: gray;
}

.button-operator,
.button-operand,
.button-equals,
.button-back,
.button-clear {
    border-radius: 0.7rem;
    text-align: center;
    cursor: pointer;
    background: #e0e0e0;
    border: 5px rgb(40, 40, 40) outset;
}


.button-operator:active,
.button-operand:active,
.button-equals:active,
.button-back:active,
.button-clear:active {
    color: white;
    transform: translateY(0.15rem);
}

.button-operand {
    background-color: rgb(40, 40, 40);
}

.button-operator {
    background-color: rgb(80, 80, 80);
}

.button-equals,
.button-back,
.button-clear {
    background-color: rgb(20, 20, 20);
}

.display {
    color: white;
    text-align: right;
    background-color: rgb(40, 40, 40);
    border-radius: 0.7rem;
    box-shadow: inset 2px 2px 5px rgb(0, 0, 0), inset -4px -4px 10px rgb(20, 20, 20);
    border: 1px solid rgb(0, 0, 0);
}

#cal-body {
    border: 6px ridge white;
    background-color: rgb(18, 18, 18);
    border-radius: 1rem;
}

#heading {
    text-align: left;
}